@page
@model AplikasiKendaraan.Pages.KendaraanPage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Anda Yakin Menghapus Data "@Html.DisplayFor(model => model.KendaraanModel.no_register)" ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            Nama Pemilik
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.KendaraanModel.nama)
        </dd>
        <dt class="col-sm-4">
            Alamat Pemilik Kendaraan
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.KendaraanModel.alamat)
        </dd>
        <dt class="col-sm-4">
            Merk Kendaraan
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.KendaraanModel.merk)
        </dd>
        <dt class="col-sm-4">
            Tahun Pembuatan
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.KendaraanModel.tahun)
        </dd>
        <dt class="col-sm-4">
            Kapasitas Silinder
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.KendaraanModel.silinder)
        </dd>
        <dt class="col-sm-4">
            Warna Kendaraan
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.KendaraanModel.warna)
        </dd>
        <dt class="col-sm-4">
            Bahan Bakar Kendaraan
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.KendaraanModel.bahanBakar)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="KendaraanModel.no_register" />
        <input type="submit" value="Delete" class="btn btn-danger tombol" />
        <a asp-page="./Index" class="btn btn-dark tombol">Back to List</a>
    </form>
</div>
