@page
@model AplikasiKendaraan.Pages.KendaraanPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="details">
    <h1 class="detail-header">Details Kendaraan</h1>
    <table class="table table-striped tabel-detail" style="text-align:left;">
        <tr>
            <th class="col-lg-5 col-md-7 col-6">No Register</th>
            <td class="col-lg-7 col-md-5 col-6">
                @Html.DisplayFor(model => model.KendaraanModel.no_register)
            </td>
        </tr>
        <tr>
            <th>Nama Pemilik</th>
            <td>
                @Html.DisplayFor(model => model.KendaraanModel.nama)
            </td>
        </tr>
        <tr>
            <th>Alamat Pemilik Kendaraan</th>
            <td>
                @Html.DisplayFor(model => model.KendaraanModel.alamat)
            </td>
        </tr>
        <tr>
            <th>Merk Kendaraan</th>
            <td>
                @Html.DisplayFor(model => model.KendaraanModel.merk)
            </td>
        </tr>
        <tr>
            <th>Tahun Pembuatan</th>
            <td>
                @Html.DisplayFor(model => model.KendaraanModel.tahun)
            </td>
        </tr>
        <tr>
            <th>Kapasitas Silinder</th>
            <td>
                @Html.DisplayFor(model => model.KendaraanModel.silinder)
            </td>
        </tr>
        <tr>
            <th>Warna Kendaraan</th>
            <td>
                @Html.DisplayFor(model => model.KendaraanModel.warna)
            </td>
        </tr>
        <tr>
            <th>Bahan Bakar Kendaraan</th>
            <td>
                @Html.DisplayFor(model => model.KendaraanModel.bahanBakar)
            </td>
        </tr>
    </table>

    <div class="form-group">
        <a asp-page="./Edit" asp-route-id="@Model.KendaraanModel.no_register" class="btn btn-primary tombol">Edit</a>
        <a asp-page="./Index" class="btn btn-secondary tombol">Kembali</a>
    </div>
</div>
